body {
  background-image: url(../pics/background.jpg);
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Adorable", Helvetica, sans-serif;
}

@font-face {
  font-family: "Adorable";
  src: url(/font/AdorableMemories_Demo.ttf);
}

h2 {
  margin: 20px;
  padding: 20px;
  color: white;
}

h3 {
  font-size: 15px;
}

h4 {
  text-align: center;
  color: rgb(165, 33, 132);
  font-size: 40px;
}

h5 {
  text-align: center;
  color: rgb(165, 33, 132);
  font-size: 20px;
}

.blocktext {
  text-align: center;
  font-size: 15px;
  margin: 4% 20% 5% 20%;
}

.programs {
  text-align: center;
  list-style: none;
  margin-bottom: 30%;
}

.thumbnail {
  background-color: transparent;
  border: none;
}

header {
  text-align: center;
  margin-bottom: 20px;
  font-size: xx-large;
  color: aliceblue;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  margin-top: 20px;
}

.card {
  flex-basis: 80%;
  border-radius: px;
}

img {
  max-width: 100%;
  border-radius: 20px;
}

.card > p {
  padding: 1em;
}

footer {
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    grid-area: footer;
    margin-top: 10%;
  }
  

@media screen and (min-width: 350px) {
  .card {
    flex-basis: calc((100% - 1rem) / 3);
  }
}

@media screen and (min-width: 500px) {
  .card {
    flex-basis: calc((100% - 1rem) / 3);
  }
}

@media screen and (min-width: 1900px) {
  .card {
    flex-basis: calc((80% - 2rem) / 3);
  }
}

